body{
    background-color: rgba(224, 224, 133, 0.776);
    text-align: center;
    font-size: 23px;
    
}

a{
    color: green;
}
img{
    max-width: 500px;
    border-radius: 50px;
    display: block;
    margin: 20px auto;
}